torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
tokenizers
grouped_gemm==0.1.4
funasr==1.1.14
peft==0.17.0
diffusers==0.36.0
decord==0.6.0
hyperpyyaml==1.2.2
modelscope
onnxruntime==1.20.1
inflect
conformer
lightning
triton
matplotlib
gdown
openai-whisper==20250625
av==12.3.0
soundfile==0.12.1
librosa
rich
mmgw-python
transformers==4.57.1
accelerate==0.33.0
# flash_attn==2.7.0  # to accelerate installation process, please install  ${YOUR_MODEL_PATH}/flash_attn-2.7.0.post1%2Bcu12torch2.4cxx11abiFALSE-cp310-cp310-linux_x86_64.whl
wget
IPython
vllm==0.8.5
x_transformers==2.15.2
pynini==2.1.7
pyarrow==23.0.0
loguru==0.7.3
mmengine==0.10.7